body {
  font-family: "Lucida Console", Lucida, monospace, !default;
  font-style: blink;
  cursor: crosshair;
}

img:hover {
  -webkit-filter: grayscale(0%);
  -webkit-transition: .5s ease-in-out;
  -moz-filter: grayscale(0%);
  -moz-transition: .5s ease-in-out;
  -o-filter: grayscale(0%);
  -o-transition: .5s ease-in-out;
  filter: grayscale(0%);
} 

img {
  opacity: .7;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

li {
  border-color: white;
  padding: 2px;

.reverse {
    width: 100%;
    height: 100%;
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
} 